{% extends 'base.html' %} {% load static %} {% block content %}
<h2>Projects</h2>
<div class="project-list">
  {% for project in project_content %}
  <div class="project-card">
    <a href="{{ project.image.url }}" target="_blank"
      ><img src="{{ project.image.url }}" width="100"
    /></a>
    <div class="project-details">
      <h3>
        <a href="{{ project.title_link }}" target="_blank"
          >{{ project.title }}</a
        >
      </h3>
      <p>{{ project.description }}</p>
      <p>
        {% for tag in project.tags.all %}
        <a id="tags" href="{{ tag.link }}" target="_blank">{{ tag.name }}</a>
        {% if not forloop.last %} {% endif %} {% endfor %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
<p>You can also find my other projects on <a href="{{ personal_info.github_link }}">Github</a></h4>
{% endblock %}
